.rutas-btn-cont
    cursor pointer

.rutas-contenedor-base
    background-color #fff
    img
        max-width 100%
        height auto
        display block
        margin auto
    h3
      font-size 1.6em
      
.img-contenedor
  position relative
  .buttons
    position absolute
    top 2em
    width 100%
    display flex
    justify-content space-around
    height 15em

    .rutas-btn-cont

      height 100%
