// Styles for ia-sidebar-nav
// Contenedor sidebar body
.ia-sidebar-container__menu-left--body
  color gris_menus
//Propiedades del menú y los botones
.v-application ul.ia-menu-container-list,
.v-application ol.ia-menu-container-list
  list-style-type none
  padding-left 0