// Styles for ia-sidebar-header-progress
.ia-sidebar-header-progress
    width 100%
    flex none

// progress numbers
.ia-progress-bar-numbers
    position relative
    height 25px
    .ia-progress-bar-number
        display inline-block
        position absolute
        font-family titulos
        font-weight bold
    .ia-progress-0
        left 0
        color rojo_principal
    .ia-progress-50
        left 45%
        color ocre_oscuro
    .ia-progress-100
        right 0
        color verde_main