// ia-sidebar-header-progress mobile styles
@media screen and (max-width 600px )
// Styles for ia-sidebar-header-progress
    .ia-sidebar-header-progress
        width 100%
        flex none
        position relative
        // Progress bar
        .ia-progress-bar
            position absolute
            width 100%
            bottom 0
    // Numbers
    .ia-progress-bar-numbers
        bottom 5px
        width 95%
        margin auto