.rutas-btn-cont
    cursor pointer

.rutas-contenedor-base
    background-color #fff
    img
        max-width 100%
        height auto
        display block
        margin auto
    h3
      font-size 1.6em
      
.img-contenedor
  position relative
  width 100%

  .buttons
    position absolute
    height 10em
    width 100%
    display flex
    bottom 14em
    right 2em
    .rutas-btn-cont
      height 100%
