@keyframes slide-izq
    0%
        transform translateX(-4em)
    100%
        transform translateX(0em)

@keyframes aparecerBtn
    0%
        opacity 0

    100%
        opacity 1

@keyframes goToLeft
    0%
        left 620px
        opacity 0
    100%
        left 20px
        opacity 1

@keyframes goToRight
    0%
        right 620px
        opacity 0
    100%
        right 20px
        opacity 1