@media screen and (max-width 1267px) and (min-width 960px)
    .ia-sidebar-container__menu-left
        background-color #fff
        min-width 260px
        max-width 260px
        box-shadow 10px 0 10px 0 rgba(0,0,0,0.04)

