// Contenedor parte izquierda del curso
// Puts inline the sidebar and submenu blocks 
.ia-sidebar-container
  display flex

//Contenedor del sidebar
.ia-sidebar-container__menu-left
  background-color #fff
  min-width 280px
  max-width 280px
  box-shadow 10px 0 10px 0 rgba(0,0,0,0.04)

