.ia-container-content__header
  justify-content space-between
  h2
    color gris_textos
  .ia-container-content__header--titulo-siguiente
    cursor pointer
    &:after
      content '\F054'
      position absolute
      font-family iconos
      font-size 2em
      color violeta_medio
      top 20px
      right 25px

    h2
      color gris_desactivado
// Color Barra vertical izquierda
.tema_conozcamos_la_utp
  .ia-container-content__header

    border-left 10px
    border-left-style solid
    border-left-color conozcamos_la_utp

.tema_hacia_donde_vamos
  .ia-container-content__header
    border-left 10px
    border-left-style solid
    border-left-color hacia_donde_vamos

.tema_hago_parte_de_la_utp
  .ia-container-content__header
    border-left 10px
    border-left-style solid
    border-left-color hago_parte_de_la_utp

.tema_como_me_relaciono_utp
  .ia-container-content__header
    border-left 10px
    border-left-style solid
    border-left-color como_me_relaciono_utp



// color forzado de la barra de navegación