gris_menus = #72809B
gris_desactivado = #BFBFBF
gris_fondos = #E7F1EF
gris_bars= #CBD6D1
gris_iconos= #8298AD
gris_contentido_menus= rgba(211,211,211,0.19)
gris_textos = #525E74
gris_h4 = #55a1c5
gris_h3= #405ea0
gris_h5 = #3e5a67
// Tabs
tabs_header_bg = #F8FAFA
//Actividades
fondo_actividad = #f0f5fd
// Elementos
fondo_i = #f6f0fd
// Títulos
titulos_principales = #170C66
// Colores destacados
//Verdes
verde_main = #00B893
verde_success = #42CB86
verde_aguamarina = #00CBC4
verde_rgb = #00ECEC
azul_fondo = #74B9ff
//Calidos
rojo_vinotinto = #D13173
rojo_principal = #FF4B68
rojo_naranja = #FF5A19
rojo_naranja_opaco = #FF7153
rojo_vermellon = #FF7776
ocre_oscuro = #FF9F00
ocre_oro = #FFC300
ocre_leche = #ffeaa4
//Violetas
violeta_titulos = #170C66
violeta_medio = #A280FD
violeta_rosa = #F280FD 

// Temas Principales
conozcamos_la_utp = ocre_oscuro
hacia_donde_vamos = rojo_principal
hago_parte_de_la_utp = violeta_medio
como_me_relaciono_utp = azul_fondo 

micolor = red

// Textos
titulos = 'Open Sans', sans-serif
principal = 'Fira Sans', sans-serif
iconos =  'Material Design Icons'
font-family = principal


icono_conozcamos_la_utp = '\F1D7' // Edificio
icono_hacia_donde_vamos = '\F463' // Rocket
icono_hago_parte_de_la_utp = '\F474' // Birrete
icono_como_me_relaciono_utp = '\F971' // corazón
//Unidades
und = 20

//"\F1D7"
//"\F463"
//"\F474"
//"\F971"
//"\F142"mdi-chevron-right