// Styles for ia-home-header
.ia-home-header
    height 10em
    background-color #213B60
    //background-image url(../../../assets/fondo_1.png)
    background-repeat repeat-x
    background-size 25% auto
    .ia-title
        h3
            color white
        h1
            color #03a9f4