// Styles for ia-content-head-tabs
.ia-container-content__menubar
    background-color gris_contentido_menus
    .ia-list.ia-list-h
        li
            button
                display block
                color gris_menus
                text-decoration none
                padding 9px 0 9px 40px
                font-weight 500
                position relative
                border:none
                outline:none
                &:before
                    content '\F0C3'
                    font-family iconos
                    position absolute
                    font-size 1.5em
                    left 15px
                    bottom 5px
                    font-weight lighter
                &.visto
                    color verde_succes