// ia-sidebar-submenu mobile styles
@media screen and (max-width 600px )
    .ia-sidebar-submenu
        position fixed
        z-index 9
        .ia-sidebar-container__menu-right--topbar
            margin-left 80px
            margin-top 15px
            h1
                color inherit
    .ia-sidebar-submenu-items-container
        position fixed
        width 100%
        bottom: 0
        background-color #fff
        overflow-x auto
        box-shadow 0 -3px 8px 0 rgba(0,0,0,0.15)
        .dragbar
            width auto
            display flex
            flex-wrap nowrap
            align-content flex-start
            align-items flex-start