// Políticas de Gestión Ambiental
.ia-block.ia-ambiental
  .container.row
    .col-3
      .personaje
        img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje3.png', alt='Personaje 3')
    .col-9
      h4.pb-4 ¿Sabías qué?
      p
        | ¿La Universidad Tecnológica es considerada el 4to campus más sustentable entre las Universidades públicas en Colombia y la 211 en el mundo? ( reforzar el texto con la grabación que está hecha)
      p
        | Este resultado fue obtenido mediante la aplicación del índice Green Metric, creado en el 2010 por la Universidad de Indonesia, que valora las políticas de sostenibilidad ambiental de centros de enseñanza superior,
        | a nivel internacional, en función de seis categorías:
      .ia-ul-items.row
        .col-4
            span.img-ambiental
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/educacion.png', alt='ambiental')
        .col-4
            span.img-ambiental
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/energiaycambio.png', alt='ambiental')
        .col-4
            span.img-ambiental
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/entornoeinfraestructura.png', alt='ambiental')
        .col-4
            span.img-ambiental
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/gestionderecursos.png', alt='ambiental')
        .col-4
            span.img-ambiental
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/manejoderesiduos.png', alt='ambiental')
        .col-4
            span.img-ambiental
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/modivilidad.png', alt='ambiental')



    .col-12.row.justify-center.contenedor-imagenes
        col-4
            span.img-ambiental
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/educacion.png', alt='ambiental')
        col-4
            span.img-ambiental
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/energiaycambio.png', alt='ambiental')
        col-4
            span.img-ambiental
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/entornoeinfraestructura.png', alt='ambiental')
        col-4
            span.img-ambiental
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/gestionderecursos.png', alt='ambiental')
        col-4
            span.img-ambiental
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/manejoderesiduos.png', alt='ambiental')
        col-4
            span.img-ambiental
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/modivilidad.png', alt='ambiental')


// Bloques Módulo 2
// .ia-block

// Centro de gestión ambiental
.ia-block.ia-centro-gestion
    .container
        p Actualmente, el Centro de gestión ambiental (dependencia adscrita a la Vicerrectoría de Investigación, Innovación y Extensión) lidera la gestión ambiental institucional y contribuye al desarrollo de un Campus Sustentable.
        p Se propicia la gestión ambiental a través de los siguientes procedimientos:

// Para saber más
.ia-block.ia-saber-mas
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Contenido
            .col-9.ia-enlaces
                h4 Conoce más
                div


                    // Item1 de lista 
                    .row.align-center.item
                        div.col-8 Conoce más acerca de la Gestion Ambiental en la UTP
                        div.col-4.ia-iconos
                            a(href="https://www.youtube.com/watch?v=AbTaR0EK5rw", target="_blank").icono-youtube
                                i.mdi.mdi-youtube
                            a(href="#youtube", target="_blank").enlace
                                i.mdi.mdi-link-variant


                    // Item2 de lista 
                    .row.align-center.item
                        div.col-8 Buenas prácticas para el uso eficiente de agua y energía
                        div.col-4.ia-iconos
                            a(href="https://www.youtube.com/embed/tiDk3tbba6Y", target="_blank").icono-youtube
                                i.mdi.mdi-youtube
                            a(href="#youtube", target="_blank").enlace
                                i.mdi.mdi-link-variant


                    // Item3 de lista 
                    .row.align-center.item
                        div.col-8 Política Ambiental en la UTP
                        div.col-4.ia-iconos
                            a(href="https://formacionunivirtual.utp.edu.co/campus/draftfile.php/5/user/draft/281871357/acuerdono41politicaambiental.pdf", target="_blank").enlace
                                i.mdi.mdi-link-variant
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje4.png', )


// Servicio al usuario
.ia-block.servicio-usuario
    .container.row

        // Bloque izquierdo
        .col-6.row.bloque-izquierdo
            .col-4
                .ia-personaje
                    img(src="https://cdn-univirtual.utp.edu.co/img/induccion/personaje4.png", alt="Personaje")

            .col-8.pa-0
                div.contenido
                    p Servicio al usuario se refiere a los servicios prestados a las personas que requieren en un momento dado de la colaboración y amabilidad para que se les guíe, asesore y oriente hasta obtener una respuesta satisfactoria.
                    p ¡ Nos enfocamos hacia una cultura de servicio, basados en Criterios de Calidad !
                .audio
                    h5.pb-5 Escucha el audio
                    audio(controls)
                        source(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/media/SERVICIO_USUARIO.mp3")
        // Bloque derecho
        .col-5.bloque-derecho.ml-5
            .info-contenido
                p Un servicio de calidad requiere de los siguientes atributos:
                div
                    ul.ul-list
                        li Confiabilidad
                        li Amabilidad
                        li Dignidad
                        li Efectividad
                        li Oportunidad
                        li Actualidad
                        li Adaptabilidad
                        li Solidaridad
                        li Responsabilidad
                        li Transparencia
                        li Trabajo en Equipo


// Comité de convivencia

#id-45.ia-block.comite-convivencia
  .row
    .col-6
      iframe(width='560', height='315', src='https://www.youtube.com/embed/dcSf39rORqg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    .col-6
      p
        | El comité de Convivencia hace parte de los mecanismos de prevención y corrección de las conductas de acoso laboral que previsiblemente puedan manifestarse al interior de la Universidad.
      p  El comité de convivencia se crea a partir de los siguientes antecedentes:
  .antecedentes-info.row.justify-center
    .col-3
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/1-ley1010.png', alt='Antecedentes')
    .col-3
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/2-resolucion652.png', alt='Antecedentes')
    .col-3
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/3-acuerdo62.png', alt='Antecedentes')
  .py-5
    p
      b Para el año 2006, el gobierno Nacional expide la ley 1010
      |  que tipifica y regula las acciones de acoso laboral y, el ministerio de trabajo 
      b mediante resolución 652 de 2012
      |  establece además la conformación y 
      b
        | funcionamiento de los comités de convivencia
        | laboral
      |  en entidades públicas y empresas privadas, los cuales mediante disposiciones específicas tienen como objetivo hacer que se cumpla lo establecido en la ley.
    p
      | La Universidad Tecnológica, teniendo en cuenta dichos antecedentes de ley crea el 
      b Comité de convivencia por medio del acuerdo No 62 del 04 de Diciembre de 2018
      | .





// Gestión ambiental -> Info de contacto
.ia-block.info-contacto
    .container
        div
            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono (6)3137245
            .informacion
                i.mdi.mdi-link-variant
                span Consulta la página:
                    a(href="https://www.utp.edu.co/centro-gestion-ambiental/")  https://www.utp.edu.co/centro-gestion-ambiental/


// Imagen Personal
.ia-block.ia-imagen-personal
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje5.png', )

            // Contenido
            .col-9.ia-contenido
                h4 Imagen personal
                div
                    p La imagen Personal, se refiere el cuidado personal, vestuario, lenguaje corporal, tono de voz, gestos y estilo al caminar entre otros.
                    span { Audio }
                    p Los colaboradores UTP deben distinguirse por la sobriedad, sencillez, discreción y limpieza, para brindar confianza, seguridad y tranquilidad. Es nuestro deber cuidar la apariencia personal y proyectar una imagen de formalidad y profesionalismo, acorde con el rol desempeñado. 

        .col-12.infografia
            figure
                img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/infografia-m2-imagen-10.jpg", alt="imagen personal")


// Conoce los valores del código de integridad
.ia-block.ia-valores-codigo
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje4.png', )
                div
                | {Audio}
            // Contenido
            .col-9.ia-contenido
                h4.py-5 Conoce los VALORES del Código de Integridad
                div
                    p Son siete los valores Fundamentales que permiten incorporar y fortalecer actitudes y prácticas éticas, valores fundamentales que los docentes, funcionarios, colaboradores y estudiantes deben apropiar para la consecución de los fines institucionales, estos se convierten en una guía para las actuaciones de la comunidad universitaria en las situaciones que viven a diario pero también motiva y orienta sus actuaciones al cumplimiento de los fines institucionales.


// Conoce más acerca del código de identidad
.ia-block.ia-saber-mas
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center

            // Contenido
            .col-9.ia-enlaces
                div


                    // Item1 de lista 
                    .row.align-center.item
                        div.col-8 Conoce más acerca del Código de Integridad de la UTP
                        div.col-4.ia-iconos
                            a(href="https://www.youtube.com/watch?v=AbTaR0EK5rw", target="_blank").icono-youtube
                                i.mdi.mdi-youtube
                            a(href="#youtube", target="_blank").enlace
                                i.mdi.mdi-link-variant
                            a(href="#attachment", target="_blank").enlace
                                i.mdi.mdi-attachment

            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje4.png', )


// Conoce más acerca del código de identidad V2
.ia-block.ia-saber-mas
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center

            // Contenido
            .col-12.ia-enlaces
                div


                    // Item1 de lista 
                    .row.align-center.item
                        div.col-9 Conoce más acerca del Código de Integridad de la UTP
                        div.col-3.ia-iconos
                            a(href="https://www.youtube.com/watch?v=AbTaR0EK5rw", target="_blank").icono-youtube
                                i.mdi.mdi-youtube
                            a(href="#youtube", target="_blank").enlace
                                i.mdi.mdi-link-variant
                            a(href="#attachment", target="_blank").enlace
                                i.mdi.mdi-attachment




// SECCION Estatuto docente
.ia-block.estatuto-docente.row
    .col-12
        p
        | En esta sección encontraremos información acerca de las leyes generales que circunscriben la educación superior en Colombia, además de algunos estatutos, los cuales orientan actuaciones en ámbitos específicos para la Universidad.
    .col-12.col-md-6
        h3 Ley General de Educación 115 de 1994
        span
            | Ordena la organización del Sistema Educativo General Colombiano. Esto es, establece normas generales para regular el Servicio Público de la Educación que cumple una función social acorde con las necesidades intereses de las personas, de la familia y de la sociedad.
        p.py-4
            a.ia-btn-link(href='https://www.mineducacion.gov.co/1621/articles-85906_archivo_pdf.pdf', target='_blank', rel='noopener') Consulta la Ley General de Educación 
    .col-12.col-md-6
        h3 Ley 30 de Educación de 1992
        p
        | Expresa las normas por medio de las cuales se reglamenta la organización del servicio público de la Educación Superior.
        p.py-4
            a.ia-btn-link(href='https://www.cna.gov.co/1741/articles-186370_ley_3092.pdf', target='_blank', rel='noopener') Consulta la Ley 30





// Control interno de Gestión
.ia-block.ia-valores-codigo
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje3.png', )
                div
                | {Audio}
            // Contenido
            .col-9.ia-contenido
                h4.py-5 Conoce los VALORES del Código de Integridad
                div
                    p Las labores relacionadas al control interno contribuyen al fortalecimiento de la cultura del auto control, auto regulación y auto evaluación. El control Interno se expresa a través de las políticas aprobadas por los niveles de dirección y administración de la Universidad  


// Control interno de Gestión V2
.ia-block.ia-valores-codigo
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Contenido
            .col-12.ia-contenido
                div
                    p Las labores relacionadas al control interno contribuyen al fortalecimiento de la cultura del auto control, auto regulación y auto evaluación. El control Interno se expresa a través de las políticas aprobadas por los niveles de dirección y administración de la Universidad  
                div
                    audio(controls)
                        source(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/media/CONTROL_INTERNO_GESTION.mp3")




// Control interno de Gestión
.ia-block.ia-valores-codigo
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje3.png', )
                div
                | {Audio}
            // Contenido
            .col-9.ia-contenido
                h4.py-5 Propósito
                div
                    p El comité de convivencia orienta su actuar a partir de lo establecido en el acuerdo No 62 de 2018, el cual establece las pautas de convivencia y los mecanismos de prevención y corrección de las conductas que constituyen acoso laboral en la Universidad, atentiendo lo dispuesto en la ley 1010 de 2006.
                div
                h4.py-5 Aplicación
                p Las disposiciones establecidas en el acuerdo serán aplicables a los conflictos que se susciten entre : 
                ul.ul-list
                    li Servidores Públicos
                    li Docentes y Administrativos
                    li Docentes transitorios y catedráticos
                    li Personal Transitorio Administrativo
                .enlace
                    a(href="https://formacionunivirtual.utp.edu.co/campus/pluginfile.php/75/mod_label/intro/Acuerdo%20No.%2062%20CSU%202018.PDF", target="_blank")


// Quienes conforman el comité de convivencia
.ia-block.dos-columnas.quienes-comite
    .container.row
        .col-12.col-sm-6.comite-content
            h4 ¿ Quiénes lo conforman ?
            .comite-resumen.py-5
                figure
                    img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/quienes.png" alt="Quiénes conforman el comité de convivencia")
        .col-12.col-sm-6.comite-content
            h4 Funciones
            .comite-resumen.py-5
                ul.ul-list
                    li Evaluar el clima organizacional de la Universidad para determinar el ambiente y la armonía en las relaciones de trabajo, formulando las sugerencias y consideraciones necesarias
                    li Promover el desarrollo efectivo de los mecanismos de prevención a que se refieren el objeto del acoso laboral.
                    li Examinar de manera confidencial, los casos específicos en los que se planteen situaciones que pudieren tipificar conductas o circunstancias de acoso laboral.
                    li Formular las recomendaciones convenientes en las situaciones presentadas, manteniendo el principio de la confidencialidad.
                    li Hacer las sugerencias que considere necesarias que promuevan de manera más efectiva la eliminación de situaciones de acoso laboral.
                    li Atender las conminaciones preventivas que formulen los personeros, el Defensor del Pueblo, la Procuraduría o el Ministerio del Trabajo.



// Sabes que es Acoso Laboral ?
.ia-block.ia-valores-codigo
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje3.png', )
                div
                | {Audio}
            // Contenido
            .col-9.ia-contenido

                div
                    p El acoso laboral es una conducta persistente y demostrable, encaminada a infundir miedo, intimidación, terror y angustia, a causar perjuicio laboral, generar desmotivación en el trabajo, o inducir la renuncia del mismo.
                div
                div
                    p { Va modal de acoso laboral }


// Control interno de Gestión
.ia-block.ia-valores-codigo
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje3.png', )
                div
                | {Audio}
            // Contenido
            .col-9.ia-contenido
                h4.py-5 ¿ Sabías qué ?
                div
                    p Toda entidad u organismo del Estado, deberá organizar una unidad u oficina, del más alto nivel, encargada de conocer y fallar en primera instancia, los procesos disciplinarios que se adelanten contra sus servidores. Artículo 76 de la Ley 734 de 2.002.

                h4.py-5 Control Interno Disciplinario  
                div
                    p La Oficina de Control Interno Disciplinario Investiga el comportamiento de los servidores públicos y de los particulares que ejercen funciones públicas, por posibles comportamientos que estén descritos como falta en la Constitución. Nacional., en la ley y/o en los reglamentos internos de la Universidad Tecnológica de Pereira.
    .container
        h4 Marco Legal de Control Interno
        .infografia.py-5
            img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/control.png", alt="control")


// infografía sobre el acoso laboral ID 52
.ia-block
  figure
    img.img-responsive.atto_image_button_middle(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo2/13-acoso-laboral.png', alt='Infografía sobre el acoso laboral', width='2251', height='2251')



// Que es gestión del talento humano ?
.ia-block.ia-valores-codigo.gt-humano
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje6.png', )
                div
            // Contenido
            .col-9.ia-contenido

                div
                    p  Es una de las unidades organizacionales que hace parte de la Vicerrectoría Administrativa, gestiona y mantiene el talento Humano requerido por cada una de las dependencias académicas y administrativas de la Institución, para garantizar que se cuente con personal competente y comprometido. 



// Conoce más sobre SST
.ia-block.ia-valores-codigo.sst
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje8.png', )
                div { Audio }
            // Contenido
            .col-9.ia-contenido

                div.py-5
                    p Para la Universidad tu seguridad es muy importante a continuación te compartimos información útil:
                    p El proceso de Seguridad y Salud en el Trabajo está enfocado a:
                    ul 
                        li La población laboralmente activa en la UTP independientemente de su forma de vinculación.
                        li Los estudiantes en práctica universitaria que estén afiliados a riesgos laborales. 
                    p Todas las actividades de Seguridad y Salud en el trabajo, están orientadas hacia la aplicación de medidas tendientes al mejoramiento del comportamiento de los trabajadores, las condiciones y el medio ambiente laboral, así como el control eficaz de los peligros y riesgos en el lugar de trabajo.
                div.py-5
                    p Al momento de iniciar el vinculo laboral con la UTP, los trabajadores serán afiliados a la Aseguradora de Riesgos Profesionales. Para la institución la entidad prestadora de éste servicio es SURA; ésta entidad tiene como objetivo prevenir, proteger y atender a los trabajadores de la UTP de los accidentes de trabajo y enfermedades laborales que pueden ocurrir en su labor. 




// Protocolos de evacuación -> Datos de contacto
.ia-block.info-contacto
    .container
        div
            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono (6)3137472
            .informacion
                i.mdi.mdi-email
                span
                    a(href="mailto:seguridadysalud@utp.edu.co ")  seguridadysalud@utp.edu.co 
            .informacion
                i.mdi.mdi-map-marker
                span
                | Ubicación: Edificio 15C Oficina S113


// Gestión de actos administrativos.
.ia-block.ia-valores-codigo.sst
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center

            // Contenido
            .col-9.ia-contenido

                div
                    h3 Gestión de actos administrativos.
                    p Se han escogido los trámites administrativos más comunes para socializar información general que le permita al funcionario contextualizarse o en caso tal, contactarse con la dependencia encargada para ampliar información o solicitar gestión del trámite


            // Personaje
            .col-3.ia-personaje-rotate-0
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje8.png', )
                div 


// Actos Administrativos -> Datos de contacto
.ia-block.info-contacto
    .container
        div
            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono: 3137300 ext 180
            .informacion
                i.mdi.mdi-email
                span
                    a(href="mailto:sc.gaviria@utp.edu.co ")  sc.gaviria@utp.edu.co 
            .informacion
                i.mdi.mdi-map-marker
                span
                | Oficina de Gestión del Talento Humano
            .informacion
                i.mdi.mdi-earth
                span
                    a(href="https://www.utp.edu.co/vicerrectoria/administrativa/gestion-talento-humano/quienes-somos.html ")  Consulta la página de Gestión de Talento Humano


<!-- Gestión de talento humano -->
// Gestión de talento humano
.ia-block.info-contacto
    .container
        div
            .informacion
                i.mdi.mdi-card-account-details-outline
                span Jairo Ordilio Torres Moreno

            .informacion
                i.mdi.mdi-card-account-details-outline
                span Jefe Gestión del Talento Humano

            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono: (6) 313 72 12

            .informacion
                i.mdi.mdi-map-marker
                span
                | Vicerrectoría Administrativa y Financiera

            .informacion
                i.mdi.mdi-map-marker
                span
                | Universidad Tecnológica de Pereira

            .informacion
                i.mdi.mdi-link-variant
                span Consulta la página
                    a(href="https://www.utp.edu.co/vicerrectoria/administrativa/gestion-talento-humano/quienes-somos.html", target="_blank") Consulta la página de Gestión de Talento Humano 


<!-- Gestión de talento humano -->
// Protocolos de evacuación Gestión de talento humano
.ia-block.info-contacto
    .container
        div

            .informacion
                i.mdi.mdi-map-marker
                span
                | Gestión del Talento Humano

            .informacion
                i.mdi.mdi-email
                span
                    a(href="mailto:seguridadysalud@utp.edu.co")  seguridadysalud@utp.edu.co
 

            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono: (6) 313 72 12

            .informacion
                i.mdi.mdi-map-marker
                span
                | Universidad Tecnológica de Pereira


            .informacion
                i.mdi.mdi-map-marker
                span
                | Ubicación: Edificio 15C Oficina S113




// Biblioteca V2
// Biblioteca
.ia-block.ia-valores-codigo.sst
  .container.row
    .col-12.row.ia-block-contenedor-cols.align-center
      // Personaje
      .col-3.ia-personaje-rotate-0
        img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/jorgeroa.jpg')
        div  
      // Contenido
      .col-9.ia-contenido
        div
          h3 Servicio de Biblioteca 
          p
            | La Biblioteca "Jorge Roa Martínez" es un centro de información que promueve y facilita el acceso a la información que apoya actividades académicas, de investigación y de extensión a través de servicios de información ofrecidos a los
            | usuarios.
        div
          h3 Oferta de Servicios 
          p La Biblioteca cuenta con (6) servicios principales 
    .col-12.row.ia-block-contenedor-cols.align-start.justify-center
      .col-2
        img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-SERVICIOINFO.png', alt='Información Virtual')
      .col-2
        img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-RENOVACION.png', alt='Renovación')
      .col-2
        img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-BUZON.png', alt='Buzón')
      .col-2
        img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-SALAS.png', alt='Salas')
      .col-2
        img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-PRESTAMO.png', alt='Préstamo')
      .col-2
        img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-ACCESOREMOTO.png', alt='acceso remoto')
    .col-12.row.ia-block-contenedor-cols.align-start.justify-center.py-5
      .col-5
        a(href='http://repositorio.utp.edu.co/dspace/', target='_blank')
          img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/repositorio-logo.png', alt='repositorio')
    .col-12.row.ia-block-contenedor-cols.align-start.justify-center
      .col-3
        img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-DOCUMENTOS.png', alt='documentos académicos')
      .col-3
        img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-SEMINARIOS.png', alt='seminarios de grado')
      .col-3
        img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-TESIS.png', alt='tesis y disertaciones')
      .col-3
        img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-TRABAJOS.png', alt='trabajos de grado')



// Biblioteca -> Datos de contacto
.ia-block.info-contacto
    .container
        div
            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono: (6) 313 7347

            .informacion
                i.mdi.mdi-link-variant
                span
                | Consulta : Procedimiento  préstamo de escenarios deportivos    


// Bienestar -> Datos de contacto
.ia-block.info-contacto
    .container
        div

            .informacion
                i.mdi.mdi-map-marker
                span
                | Universidad Tecnológica de Pereira

            .informacion
                i.mdi.mdi-map-marker
                span
                | Vic. Responsabilidad Social y Bienestar Universitario 

            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono: (6) 313 74 41

            .informacion
                i.mdi.mdi-email
                span
                    a(href="mailto:prestamoescenarios@utp.edu.co")  prestamoescenarios@utp.edu.co
 
            .informacion
                i.mdi.mdi-link-variant
                span Consulta: 
                    a(href="https://www.utp.edu.co/vicerrectoria/responsabilidad-social/horarios-de-prestamo.html", target="_blank") Procedimiento préstamo de escenarios deportivos   



// Bienestar Universitario
.ia-block.ia-valores-codigo.sst
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje-rotation0
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje10.png', )
                div
            // Contenido
            .col-9.ia-contenido

                div.py-5
                    p Los programas para el fomento del bienestar y la práctica deportiva son liderados actualmente por la Vicerrectoría de Responsabilidad Social y Bienestar Universitario, y que pueden ser aprovechados tanto por los estudiantes, como por docentes y administrativos ?  


// Bienestar -> Datos de contacto
h5 Vicerrectoria de Responsabilidad Social y  Bienestar Universitario  
.ia-block.info-contacto
    .container
        div
            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono: (6) 313 7441
            .informacion
                i.mdi.mdi-email
                span
                    a(href="mailto:prestamoescenarios@utp.edu.co   ")  prestamoescenarios@utp.edu.co   
            .informacion
                i.mdi.mdi-link-variant
                span
                    a(href="https://www.utp.edu.co/vicerrectoria/responsabilidad-social/horarios-de-prestamo.html") Consulta : Procedimiento  préstamo de escenarios deportivos    

// Servicios dirigidos a la comunidad

.ia-block
    .container
        p Servicios dirigidos a:
        ul.ul-list
            li Estudiantes
            li Docentes
            li Administrativos y jubilados de la UTP 
        div.row.justify-center

            .informacion.row.col-4.text-left
                .img.col-5
                    img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-ATENCION%20PROGRAMADA.png", alt="Atención programada")
                .contenido.col-7
                    h5 Atención programada
                    ul.ul-list
                        li Evaluación de la Condicion Física
                        li Evaluacion de Composicion Corporal
                        li Evaluacion de postura
                        li Prescripcion de Ejercicio Físico 
  

            .informacion.row.col-4.text-left
                .img.col-5
                    img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-CLASESGRUPALES.png", alt="Clases grupales")
                .contenido.col-7
                    h5 Clases grupales
                    ul.ul-list
                        li Natación Terapéutica
                        li Spinning
                        li Clases Musicalizadas
                        li Pausas Activas   
 

            .informacion.row.col-4.text-left
                .img.col-5
                    img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-ACTIVIDADFISICA.png", alt="Grupos de actividad física")
                .contenido.col-7
                    h5 Grupos de actividad Física:  
                    ul.ul-list
                        li Madrugadores activos
                        li Nocturnos saludables
                        li Jubilados 
                        li Entramiento Funcional
            


// CLub de la salud -> Datos de contacto
h5 Vicerrectoria de Responsabilidad Social y  Bienestar Universitario  
.ia-block.info-contacto
    .container
        div
            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono: (6) 313 7441
            .informacion
                i.mdi.mdi-email
                span
                    a(href="mailto:leisoncardona@utp.edu.co ") leisoncardona@utp.edu.co  
            .informacion
                i.mdi.mdi-email
                span
                    a(href="mailto: leidyecheverry@utp.edu.co   ")  leidyecheverry@utp.edu.co    
            .informacion
                i.mdi.mdi-link-variant
                span Consulta programación y horario 
                    a(href="http://blog.utp.edu.co/clubdelasalud/blog/") aquí    


// Datos de interés jardín botánico
.ia-block
    .container
        p Actualmente se han identificado: 
        div.ul-lists.row.justify-center
            div.col-4 
                div
                    img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-AVES.png", alt="aves")
                span 185 especies de Aves (21 migratorias, 1 endémica, 2 casi endémicas y 2 amenazadas.)
            div.col-4 
                div
                    img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-MAMIFEROS.png", alt="mamíferos")
                span 15 especies de Mamíferos
            div.col-4 
                div
                    img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-HERPETOS.png", alt="herpetos")
                span 18 especies de Herpetos
            div.col-4 
                div
                    img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-MARIPOSAS.png", alt="Mariposas")
                span 45 especies de Mariposas
            div.col-4 
                div
                    img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-PLANTAS.png", alt="plantas")
                span 562 especies vegetales, de estas el 30% con algún grado de amenaza de extinción
            div.col-4 
                div
                    img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/M3-HERBA.png", alt="aves")
                span 1234 de especies en herbario.


// sabias que
<div class="audio">
<h5 class="py-5"> Escucha el audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/media/SABIIAS_QUE.mp3">
</audio>
</div>



// serviicio usuario
<div class="audio">
<h5 class="py-5"> Escucha el audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/media/SERVICIO_USUARIO.mp3">
</audio>
</div>


<!-- audio valores del codigo de integridad -->
<div class="audio">
<h5 class="py-5"> Escucha el audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/media/CODIGO_INTEGRIDAD.mp3">
</audio>
</div>


<!-- audio control interno de gestión -->
<div class="audio">
<h5 class="py-5"> Escucha el audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/media/CONTROL_INTERNO_GESTION.mp3">
</audio>
</div>


<!-- audio control interno de gestión -->
<div class="audio">
<h5 class="py-5"> Escucha el audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/media/ACOSO_LABORAL.mp3">
</audio>
</div>


<!-- audio proceso conciliatorio -->
<div class="audio">
<h5 class="py-5"> Escucha el audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/media/SOLICITUD_COMITE_CONVIVENCIA.mp3">
</audio>
</div>


<!-- audio Control Interno Disciplinario -->
<div class="audio">
<h5 class="py-5"> Escucha el audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/media/CONTROL_INTERNO_DISCIPLINARIO.mp3">
</audio>
</div>


<!-- audio Control Interno Disciplinario -->
<div class="audio">
<h5 class="py-5"> Audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/media/m3/SEGURIDAD_SALUD_EN_EL_TRABAJO.mp3">
</audio>
</div>


<!-- audio Biblioteca -->
<div class="audio">
<h5 class="py-5"> Audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/media/m3/SERVICIO_BIBLIOTECA.mp3">
</audio>
</div>


<!-- audio Club de la salud -->
<div class="audio">
<h5 class="py-5"> Audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo3/media/m3/CLUB_SALUD.mp3">
</audio>
</div>


// MÓDULO 4



<!-- audio Club de la salud -->
<div class="audio">
<h5 class="py-5"> Audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/media/SABIAS_QUE.mp3">
</audio>
</div>



<!-- audio Acreditación -->
<div class="audio">
<h5 class="py-5"> Audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/media/ACREDITACION.mp3">
</audio>
</div>



<!-- audio UTPITOS -->
<div class="audio">
<h5 class="py-5"> Audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/media/UTPITOS.mp3">
</audio>
</div>



<!-- audio UTPITOS -->
<div class="audio">
<h5 class="py-5"> Audio </h5>
<audio controls>
    <source src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/media/SOCIEDAD_MOVIMIENTO.mp3">
</audio>
</div>


div.ia-block
    p El sistema Integral de Gestion de la Universidad Tecnológica de Pereira, es una herramienta gerencial que tiene como objetivo promover y facilitar la mejora continua en la gestión; dicha labor es desarrollada a través de una unidad organizacional que se encarga de acompañar procesos bajo los requisitos establecidos por las normas que rigen : 
    ul
        li El Sistema de Gestión de Calidad
        li Los Organismos Evaluadores de la Conformidad
        li Seguridad de la Información 
        li Seguridad y Salud en el Trabajo
    div.py-5
        img(src="",alt="SIG")



// Políticas Ambiental
.ia-block.ia-politica-ambiental
  .container.row
    .col-6
      iframe(width='560', height='315', src='https://www.youtube.com/embed/rssF-NkRSPA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope;', allowfullscreen='', style='font-size: 0.9375rem;')
    .col-6
      p
        | Desde el año 2010, la Universidad Tecnológica de Pereira, adoptó la política Ambiental, con el objetivo de generar procesos educativos, tecnológicos y de cultura ambiental, que promuevan del desarrollo sustentable del campus, a través de la
        | participación activa de cada integrante de la comunidad universitaria.


// MODULO 3

// FAvi
.ia-block.otros-servicios
    .container.row
        .col-12.row
            .col-12.block-title.py-5
                h4 Otros Servicios
            .col-3.block-image
                div
                    img(src="images.jpg", alt="Favi UTP")
            .col-9.block-content
                div
                    p Cooperativa especializada en ahorro y crédito para Administrativos, docentes y egresados de la Universidad Tecnológica de Pereira
                    p Dentro de sus servicios encontrarás
                    ul.list-clean
                        li
                            i.mdi.mdi-coins
                            span Ahorro programado
                        li
                            i.mdi.mdi-briefcase-account
                            span Cuenta de Ahorros
                        li
                            i.mdi.mdi-bank-plus
                            span Ahorro Término CDTA
                        li  
                            i.mdi.mdi-cash
                            span Líneas de Crédito
                        li 
                            i.mdi.mdi-file-document-box-check
                            span Favi Seguros
                        li 
                            i.mdi.mdi-rocket
                            span Favi Emprende



.ia-block.info-contacto
    .container
        div
            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono: (6) 311 14 43
            .informacion
                i.mdi.mdi-youtube
                span 
                    a(href="https://www.youtube.com/watch?v=Jj6tZgjT6HU", target="_blank") Video: Servicios ofrecidos
            .informacion
                i.mdi.mdi-email
                span
                    a(href="mailto:cooperativa@faviutp.com", target="_blank") cooperativa@faviutp.com    

            .informacion
                i.mdi.mdi-link-variant
                span Consulta la página
                    a(href="https://faviutp.com/", target="_blank") https://faviutp.com/   



// FASUT
.ia-block.otros-servicios
    .container.row
        .col-12.row
            .col-3.block-image
                div
                    img(src="images.jpg", alt="Fasut")
            .col-9.block-content
                div
                    p Fondo de empleados para la Asistencia Social  para trabajadores y dependientes de la Universidad Tecnológica de Pereira. 
                    ul.list-clean
                        li
                            i.mdi.mdi-stethoscope
                            span Servicio para la Atención Médica
                        li
                            i.mdi.mdi-briefcase-account
                            span Servicio de Crédito 
                        li
                            i.mdi.mdi-emoticon-cool-outline
                            span Actividades que generan bienestar 
                        li  
                            i.mdi.mdi-coin
                            span Servicio de Ahorro en Depósito   
                        li 
                            i.mdi.mdi-book-open-page-variant
                            span Financiacion Matrícula UTP 




.ia-block.info-contacto
    .container
        div

            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono (6) 325 47 19 - (6) 334 04 91 

            .informacion
                i.mdi.mdi-email
                span
                    a(href="mailto:fasut@utp.edu.co", target="_blank") fasut@utp.edu.co

            .informacion
                i.mdi.mdi-link-variant
                span Consulta la página
                    a(href="https://www.utp.edu.co/fasut/", target="_blank") https://www.utp.edu.co/fasut/ 

// MÓDULO 4 -> etiquetas

// Plan de desarrollo Institucional
.ia-block.ia-plan-desarrollo-institucional
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje12.png', alt="Plan desarrollo institucional")
            // Contenido
            .col-9.ia-contenido

                div.py-5
                    // h4.py-5 ¿Sabías que?
                    p ¿El Plan de Desarrollo de la Universidad es el resultado de un proceso participativo que busca ser la carta de navegación y que contiene las orientaciones y apuestas de la Universidad por los próximos 9 años?
                    p La Universidad Tecnológica de Pereira (UTP) mediante  el plan de Desarrollo 2020 – 2028 "Aquí construimos futuro" ha planteado su direccionamiento estratégico en el largo plazo, y dentro de sus pilares estratégicos, se ha propuesto a contribuir a la construcción de un futuro más humano, innovador y centrado en el bienestar la comunidad, a partir de la Misión y Visión establecida en el nuevo proyecto Educativo Institucional (PEI).
                div
                    // audio PDI
                    .audio
                    h5.py-5  Audio 
                    audio(controls='')
                        source(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/media/SABIAS_QUE.mp3')

// ¿Qué contiene el Plan de Desarrollo?
.ia-block.ia-que-contiene
  .container
    p
      | Para el ejercicio del nuevo Plan de Desarrollo de la UTP, la materialización de la misión y la visión institucional se planteó a través de la definición de once (11) impulsores estratégicos que se lograrán mediante la implementación de cinco (5)
      | pilares de gestión institucional. Veamos a continuación :
    ul.list-clean
      li
        i.mdi.mdi-check
        span Excelencia Académica para la Formación integral
      li
        i.mdi.mdi-check
        span Creación, Gestión y Transferencia del conocimiento
      li
        i.mdi.mdi-check
        span Gestión del Contexto y Visibilidad Nacional e Internacional
      li
        i.mdi.mdi-check
        span Gestión y sostenibilidad institucional
      li
        i.mdi.mdi-check
        span Bienestar institucional, Calidad de Vida e inclusión en contextos universitarios
    p.py-5
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/alcances.png', alt='Alcances', style='font-size: 0.9375rem;')



.ia-block.info-contacto
    .container
        div
            .informacion
                ul.list-clean
                    li 
                        i.mdi.mdi-map-marker
                        span Universidad Tecnológica de Pereira
                    li 
                        i.mdi.mdi-map-marker
                        span Oficina de Planeación
                    li 
                        i.mdi.mdi-map-marker
                        span Area de Gerencia del PDI
            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono (6) 313 73 15

            .informacion
                i.mdi.mdi-email
                span Líder de área:
                    a(href="mailto:vmcarmona@utp.edu.co", target="_blank")  vmcarmona@utp.edu.co
        // No web 
            .informacion
                i.mdi.mdi-link-variant
                span Consulta la página
                    a(href="https://www.utp.edu.co/fasut/", target="_blank") https://www.utp.edu.co/fasut/ 



// PEI
.ia-block.ia-proyecto-educativo-institucional
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje15.png', alt="Proyecto educativo institucional")
            // Contenido
            .col-9.ia-contenido

                div.py-5
                    // h4.py-5 ¿Sabías que?
                    p En la Universidad Tecnológica de Pereira, el Acuerdo 19 de 2012 señala que el Proyecto Educativo es un documento institucional fundamental para garantizar que la Universidad posea una carta de navegación frente a los retos del presente y del futuro, con claridad y certeza de principios; como apuesta filosófica se concreta en la misión, visión, principios y valores que orientan la intencionalidad formativa y las estrategias para lograrlo. 
                    p A partir de un proceso que comenzó en el año 2015 y finalizó en el año 2018, se realizó la revisión y actualización del Proyecto educativo institucional, el cual se construyó a partir de tres fases complementarias:
                    div
                        img(src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/Recurso7.png", alt="Desarrollo PEI")
                div
                    // audio PDI
                    .audio
                    h5.py-5  Audio **
                    audio(controls='')
                        source(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/media/SABIAS_QUE.mp3')


// Acreditación
.ia-block.ia-proyecto-educativo-institucional
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje14.png', alt="Proyecto educativo institucional")
            // Contenido
            .col-9.ia-contenido

                div.py-5
                    // h4.py-5 ¿Sabías que?
                    p El proceso de acreditación de alta calidad  se refiere  fundamentalmente a cómo una institución y sus programas orientan  su deber  ser  hacia un ideal  de excelencia, y pueden mostrar alta calidad mediante resultados específicos, tradición consolidada, impacto y reconocimiento social. 
                    p La Acreditacion de alta calidad se otorga tanto a programas académicos como a instituciones; ambos procesos se refieren a distintos niveles, los cuales no se oponen sino que, por el contrario, se complementan.
                div
                    // audio PDI
                    .audio
                    h5.py-5  Audio **
                    audio(controls='')
                        source(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/media/ACREDITACION.mp3')




.ia-block.info-contacto
    .container
        div
            .informacion
                ul.list-clean
                    li 
                        i.mdi.mdi-map-marker
                        span Universidad Tecnológica de Pereira
                    li 
                        i.mdi.mdi-map-marker
                        span Oficina de Planeación
                    li 
                        i.mdi.mdi-map-marker
                        span Área Planeación académica
            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono (6) 313 73 15

            .informacion
                i.mdi.mdi-email
                span Líder asesoría Planeación Académica:
                    a(href="mailto:jare@utp.edu.co", target="_blank")   jare@utp.edu.co
            // web 
            .informacion
                i.mdi.mdi-link-variant
                span Consulta más a cerca de Acreditación
                    a(href="https://www.utp.edu.co/acreditacion/inicio.html", target="_blank") Acreditación


// UTPITOS
.ia-block.ia-proyecto-educativo-institucional
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje17.png', alt="Proyecto educativo institucional")
            // Contenido
            .col-9.ia-contenido

                div.py-5
                    // h4.py-5 ¿Sabías que?
                    p Casita Utepitos es un Centro de Desarrollo Infantil que trabaja bajo la modalidad de la Política Nacional de Atención a la primera Infancia.
                    p Se estructuró a partir del año 2015 dando respuesta a la necesidad de brindar acompañamiento a los estudiantes de la UTP en su proceso de paternidad y maternidad y se encuentra orientado hacia la protección, el cuidado y promoción del desarrollo de niños y niñas entre los 6 meses y 5 años, en este caso hijos de estudiantes en condiciones de vulnerabilidad.  
                    p El CDI  en los 3  años de atención  ha garantizado la transición armónica de 23 niñas y niños hacia su vida escolar y ha sido reconocido por el ICBF y Comfamiliar como modelo por sus procesos pedagógicos y proyectos de aula, como experiencias pedagógicas significativas para la formación de la primera infancia en el municipio de Pereira.
                div
                    // audio PDI
                    .audio
                    h5.py-5  Audio
                    audio(controls='')
                        source(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/media/UTPITOS.mp3')


.ia-block.info-contacto
    .container
        div
            .informacion
                ul.list-clean
                    li 
                        i.mdi.mdi-map-marker
                        span Universidad Tecnológica de Pereira
                    li 
                        i.mdi.mdi-map-marker
                        span Vicerrectoría de Responsabilidad social y BU 
            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono (6) 313 75 47

            .informacion
                i.mdi.mdi-email
                span Coordinador del Proyecto: Luis Alberto Rojas Franco
                    a(href="mailto:lrfranco@utp.edu.co", target="_blank")   lrfranco@utp.edu.co
          // web 
            .informacion
                i.mdi.mdi-link-variant
                span Consulta más a cerca de Acreditación
                    a(href="https://www.utp.edu.co/acreditacion/inicio.html", target="_blank") Acreditación



// INVERTIDO Sociedad en Movimiento
.ia-block.ia-proyecto-educativo-institucional
    .container.row
        .col-12.row.ia-block-contenedor-cols.align-center
            // Contenido
            .col-9.ia-contenido

                div.pb-5.pt-0
                    // h4.py-5 ¿Sabías que?
                    p Sociedad en Movimiento tiene su origen en la Oficina de Planeación de la UTP y surge como un proyecto estratégico dentro del Plan de Desarrollo (2009 - 2019), que le apuesta a la transformación de las condiciones de vida de la población Risaraldense. 
                    p Es un proceso social a largo plazo que impulsa y apoya la construcción de Políticas Públicas y la transformación de la Agenda Pública de Desarrollo como soporte para el cambio de las condiciones de vida de la población Risaraldense.
                div
                    // audio Sociedad
                    .audio
                    h5.pb-5.pt-0  Audio
                    audio(controls='')
                        source(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/media/SOCIEDAD_MOVIMIENTO.mp3')

                div.iframe.py-5.text-center
                  // Video
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Q42UNgf7oHg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

            // Personaje
            .col-3.ia-personaje
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje16.png', alt="Sociedad en Movimiento")




.ia-block.info-contacto
    .container
        div
            .informacion
                ul.list-clean
                    li 
                        i.mdi.mdi-map-marker
                        span Universidad Tecnológica de Pereira
                    li 
                        i.mdi.mdi-map-marker
                        span Oficina de Planeación
                    li 
                        i.mdi.mdi-map-marker
                        span Secretaría Técnica Sociedad en Movimiento
            .informacion
                i.mdi.mdi-contact-phone-outline
                span Teléfono (6) 313 75 47


            .informacion
                i.mdi.mdi-link-variant
                span Consulta más sobre Sociedad en Movimiento
                    a(href="https://www.sociedadenmovimiento.com/es/inicio.html", target="_blank") Sitio Web

















<!-- La utp en cifras-->
<div class="ia-block">
    <p class="pb-7">El sistema institucional de estadística e indicadores es un espacio dedicado para la consulta de datos, consolidando cifras de variables relacionadas con la población estudiantil, docente, personal administrativo, investigaciones y extensión, bienestar universitario, recursos bibliográficos, recursos económicos, recursos físicos y recursos informáticos entre otros.</p>
    <p>Consulte aquí toda la información estadística de la Universidad Tecnológica de Pereira: </p>
    <div class="pt-4 pb-2">
        <a class="ia-links ia-btn-link" href="https://www.utp.edu.co/estadisticas-e-indicadores/" target="_blank">Estadísticas e Indicadores</a>
    </div>
    <div class="pt-2 pb-4">
        <a class="ia-links ia-btn-link" href="https://formacionunivirtual.utp.edu.co/campus/draftfile.php/5/user/draft/989516158/instructivo_UTP_en_cifras.pdf " target="_blank ">Instructivo de uso básico de la herramienta de consulta.</a>
    </div>
</div>


// Modulo 1

// Medios y Canales informativos
.ia-block.ia-medios-y-canales
  div  La Universidad Tecnológica de Pereira atenta de abrir espacios de interacción, que permita a los usuarios identificarse con la institución, encontrar información relevante y de contacto, además de informarle sobre los eventos que acontecen en el campus, tiene actualmente presencia en los siguientes medios de comunicación:
  .row
    .col-3.ia-logo-social-container
      .ia-icon.text-center
        i.v-icon.notranslate.ia-icon.mdi.mdi-facebook.theme--light.color-facebbok
      .text-center
        h5
          a(href='https://www.facebook.com/utpereira', target='_blank') Facebook: 
        p En este sitio se puede encontrar información sobre los eventos realizados en el campus universitario.
    .col-3.ia-logo-social-container
      .ia-icon.text-center
        i.v-icon.notranslate.ia-icon.mdi.mdi-instagram.theme--light.color-instagram
      .text-center
        h5
          a(href='https://www.instagram.com/utpereira/', target='_blank') Instagram: 
        p Se encuentra el registro fotográfico del campus y de los eventos más importantes de la Institución.
    .col-3.ia-logo-social-container
      .ia-icon.text-center
        i.v-icon.notranslate.ia-icon.mdi.mdi-youtube.theme--light.color-youtube
      .text-center
        h5
          a(href='https://www.youtube.com/user/utpereira', target='_blank') Youtube: 
        p Se encuentran videos institucionales, y productos audiovisuales de diferentes dependencias de la institución.
    .col-3.ia-logo-social-container
      .ia-icon.text-center
        i.v-icon.notranslate.ia-icon.mdi.mdi-twitter.theme--light.color-twitter
      .text-center
        h5
          a(href='https://twitter.com/utpereira', target='_blank') Twitter: 
        p El perfil en Twitter @UTPereira está dirigido a la interacción y atención al ciudadano se informa sobre eventos y trámites universitarios y solucionar inquietudes.
    // Fila 2
  .row.justify-center
    // Portal
    .col-5.text-center
      .ia-icon.text-center
        i.v-icon.notranslate.ia-icon.mdi.mdi-earth.theme--light.color-emisora
      div.pb-5.pt-0
        a(href='http://utp.edu.co', target='_blank', class='ia-btn-link') Portal
      p.text-center Aquí encontrará información general de toda la Universidad y sus distintas dependencias
    // Emisora
    .col-5.text-center
      .ia-icon.text-center
        i.v-icon.notranslate.ia-icon.mdi.mdi-radio-tower.theme--light.color-emisora
      div.pb-5.pt-0
        a(href='http://universitariaestereo.utp.edu.co/informacion/179/quienes-somos', target='_blank', class='ia-btn-link') Emisora Universitaria 88.2 FM: 
      p.text-center Es una radio de interés público de la Universidad Tecnológica de Pereira, miembro de la Red de Radio Universitaria de Colombia.
    // Canal ZOOM
    .col-5.text-center
      .ia-icon.text-center
        i.v-icon.notranslate.ia-icon.mdi.mdi-television-box.theme--light.color-emisora
      div.pb-5.pt-0
        a(href='https://www.zoomcanal.com.co/', target='_blank', class='ia-btn-link') Canal Universitario Zoom TV 
      p La UTP hace parte del Canal Universitario Zoom Tv, por medio del cual se emiten contenidos académicos, informativos, científicos y culturales
    // Campus Informa
    .col-5.text-center
      .ia-icon.text-center
        i.v-icon.notranslate.ia-icon.mdi.mdi-rss.theme--light.color-emisora
      div.pb-5.pt-0
        a(href='https://comunicaciones.utp.edu.co/suscribir', target='_blank', class='ia-btn-link') Campus Informa
      p Inscríbete y recibe el resumen de Noticias más importantes de la UTP

    .col-5.text-center
      .ia-icon.text-center
        i.v-icon.notranslate.ia-icon.mdi.mdi-book.theme--light.color-directorio
      div.pb-5.pt-0
        a(href='https://media.utp.edu.co/paginaprincipal/documentos/directorio-UTP.pdf', target='blank',  class='ia-btn-link')  Directorio General de la UTP
      p Podrás encontrar el contacto telefónico de todas las dependencias

    .personaje-flotante
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/personaje-contacto.png', alt='Contacto')




// La utp en cifras
.ia-block
  p
    | El sistema institucional de estadística e indicadores es un espacio dedicado para la consulta de datos, consolidando cifras de variables relacionadas con la población estudiantil, docente, personal administrativo, investigaciones y extensión, bienestar
    | universitario, recursos bibliográficos, recursos económicos, recursos físicos y recursos informáticos entre otros.
  p
    | Consulte aquí toda la información estadística de la Universidad Tecnológica de Pereira:
  .pb-2
    a.ia-links.ia-btn-link(href='https://www.utp.edu.co/estadisticas-e-indicadores/', target='_blank') Estadísticas e Indicadores
  .pt-2.pb-4
    a.ia-links.ia-btn-link(href='https://formacionunivirtual.utp.edu.co/campus/draftfile.php/5/user/draft/897084748/instructivo_UTP_en_cifras.pdf ', target='_blank ') Instructivo de uso básico de la herramienta de consulta.
// Gráficos
.ia-block.row
  .ia-block-container-cifras.col-3
    a(href='http://bit.ly/1yPOQNC ', target='_blank ')
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/utp-en-cifras/M1-CUPOS.png ', alt='Cupos ')
  .ia-block-container-cifras.col-3
    a(href='http://bit.ly/2rZn318 ', target='_blank ')
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/utp-en-cifras/M1-DESERCION.png ', alt='Deserción ')
  .ia-block-container-cifras.col-3
    a(href='http://bit.ly/2rHDBgM ', target='_blank ')
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/utp-en-cifras/M1-DESERCIONINTER.png ', alt='Deserción intersemestral ')
  .ia-block-container-cifras.col-3
    a(href='http://bit.ly/1y9sX0T ', target='_blank ')
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/utp-en-cifras/M1-GRADUADOS.png ', alt='Graduados ')
  .ia-block-container-cifras.col-3
    a(href='http://bit.ly/2gI3mtg ', target='_blank ')
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/utp-en-cifras/M1-GRADUADOSDESDEELINICIO.png ', alt='Graduados desde el inicio ')
  .ia-block-container-cifras.col-3
    a(href='http://bit.ly/2rL9am9 ', target='_blank ')
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/utp-en-cifras/M1-INSCRITOS.png ', alt='Inscritos ')
  .ia-block-container-cifras.col-3
    a(href='http://bit.ly/1MZFhap ', target='_blank ')
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/utp-en-cifras/M1-MATRICULADOS.png ', alt='Matriculados ')
  .ia-block-container-cifras.col-3
    a(href='http://bit.ly/1Gh4toX ', target='_blank ')
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/utp-en-cifras/M1-MATRICULADOSPORPRIMERA.png ', alt='Matriculados por primera vez ')
  .ia-block-container-cifras.col-3
    a(href='http://bit.ly/1PSrxNL ', target='_blank ')
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/utp-en-cifras/M1-PROGRAMASACADEMICOS.png ', alt='Programas académicos ')
  .ia-block-container-cifras.col-3
    a(href='http://bit.ly/2qb0p72 ', target='_blank ')
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/utp-en-cifras/M1-PUNTAJEPROMEDIO.png ', alt='Puntaje promedio ')
  .ia-block-container-cifras.col-3
    a(href='http://bit.ly/2d2L5ol ', target='_blank ')
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/utp-en-cifras/M1-TABLERODEMANDOPARAFA.png ', alt='Tablero de mando ')
  .ia-block-container-cifras.col-3
    a(href='http://bit.ly/2U8lxas ', target='_blank ')
      img(src='https://cdn-univirtual.utp.edu.co/img/induccion/utp-en-cifras/M1-TENDENCIAPOBLACIONAL.png ', alt='Tendencia poblacional ')


// MODULO 4
//DAtos importantes

div
    img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/Recurso8.png', alt="Datos de interés")

.row.justify-center
  .col-3
    img.img-responsive.atto_image_button_text-bottom(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/M4-PROGRAMA1.png', alt='Tablas de programas acreditados y acreditables', width='400', height='116')
  .col-3
    img.img-responsive.atto_image_button_text-bottom(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/M4-PROGRAMA2.png', alt='Tablas de programas acreditados y acreditables', width='400', height='116')
  .col-3
    img.img-responsive.atto_image_button_text-bottom(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/M4-PROGRAMA3.png', alt='Tablas de programas acreditados y acreditables', width='400', height='116')


// SIG
.ia-block
    .row.justify-center
        .col-12
            p
                | El sistema Integral de Gestion de la Universidad Tecnológica de Pereira, es una herramienta gerencial que tiene como objetivo promover y facilitar la mejora continua en la gestión; dicha labor es desarrollada a través de una unidad organizacional
                | que se encarga de acompañar procesos bajo los requisitos establecidos por las normas que rigen :
            ul
                li El Sistema de Gestión de Calidad
                li Los Organismos Evaluadores de la Conformidad
                li Seguridad de la Información 
                li Seguridad y Salud en el Trabajo
        .col-8
            .py-5
                img(src='https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/Recurso12.png', alt='SIG')

//
    <div class="ia-block">
    <p>El sistema Integral de Gestion de la Universidad Tecnológica de Pereira, es una herramienta gerencial que tiene como objetivo promover y facilitar la mejora continua en la gestión; dicha labor es desarrollada a través de una unidad organizacional
        que se encarga de acompañar procesos bajo los requisitos establecidos por las normas que rigen : </p>
    <ul>
        <li>El Sistema de Gestión de Calidad</li>
        <li>Los Organismos Evaluadores de la Conformidad</li>
        <li>Seguridad de la Información </li>
        <li>Seguridad y Salud en el Trabajo</li>
    </ul>
    <div class="py-5"><img src="https://cdn-univirtual.utp.edu.co/img/induccion/modulo4/Recurso12.png" alt="SIG"></div>
    </div>  