.cards-container
    display flex
    height auto
    flex-wrap wrap
    justify-content center
    padding 2em 2em
    // border 5px solid ocre_oro
    border-radius 0.4em
    margin 1em 0
    text-shadow 0 0 0.1em rgba(0,0,0,0.3)